<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Nick's App</title>
  </head>
<body class="p-3 mb-2 bg-secondary text-white">

<center>
  <div class="jumbotron">
      <h1>Welcome to my website</h1>
      <p class="text-danger">(Currently under maintence)</p>
</div>
</center>
  <div class="container" style="width: 100%">
    <div class="row" style="width: 100%">
    <center><h3 style="margin: 3rem;">About Me</h3></center>
    <p>Joining Fiserv in June 2021 as part of the Client WAN Engineering Organization, Nicholas is an active member of a DevOps teams delivering Network Automation through the latest tools and software in an agile fashion. Their mission is to change the way our Network Engineers support clients by automating repetitive, error-prone tasks from their daily operations. Our automation platform is continuously improving the way changes are deployed, the cost of operations, and the delivery time of IT services. 
        Areas of specialization include: </p>
    <ul>
        <li>Python Scripting with NETCONF, Netmiko, NAPALM, etc. to automate network device provisioning & configuration change executions.</li>
        <li>Developing custom Ansible modules & plugins integrated with Python tools & REST APIs. </li>
        <li>Contributing to collaborative projects using Git, Gitlab, CI/CD, formatting standards, and semantic versioning.</li>
        <li>Testing containerized workflows on networking devices in a virtual lab environment with custom unit and integration testing</li>
    </ul>
  </div>
 </div>
  </body
 </html>